

<h2>About Paintbrush.it </h2>
<p>This single page web application was developed by Evie Caldwell-Horne for Building Javascript Applications for the Web, a course in Seattle University's <a href= "http://webdev.seattleu.edu/"> Web Development Certificate</a>. </p>
<p>Paintbrush.it is a single page application using AngularJS, Jquery, and Bootstrap to pull user queries from the <a href="https://www.flickr.com/services/api/">Flickr API</a> to experiment with user input. It was inspired by the joke site <a href="http://paintwithdonaldtrump.com">Paint with Donald Trump</a>. 