<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Search Flickr for {{current.name}}</h1>
  <p class="lead">
    <div ng-init="location='Seattle'">
        <p>
          <label for="location">
            <input type="text" name="title" ng-model="title">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" id="search" ng-click="refreshCurrent()">Get Flickr Images</button>
        </p>
    <div>
      <ul>
        <li ng-repeat="photo in current.photos.photo | limitTo:5">{{photo.title}}</li>
        <img ng-src="{{photo}}" />
      </ul>
    </div>
  </p>
</div>